<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <header class="header">
    <h2>Expense Tracker</h2>
    <div class="header-actions">
      <button id="buyPremiumBtn">Buy Premium</button>
      <button id="reportDownloadBtn" disabled>Download Report</button>
      <button id="leaderBoardBtn" style="display: none">Show LeaderBoard</button>
      <button id="logoutBtn">Logout</button>
    </div>
  </header>

  <div id="leaderBoardPopup" style="display:none; position:fixed; top:20%; left:50%; transform:translateX(-50%);
  background:#fff; border:1px solid #ccc; padding:20px; box-shadow:0px 4px 10px rgba(0,0,0,0.2); z-index:1000;">
    <h2>Leaderboard</h2>
    <ul id="leaderBoardList"></ul>
    <button onclick="document.getElementById('leaderBoardPopup').style.display='none'">Close</button>
  </div>

  <section class="expense-form">
    <h2>Add Expense</h2>
    <form id="expenseForm">
      <input type="hidden" value="" id="userId" />
      <input type="number" id="amount" placeholder="Amount" required>
      <input type="text" id="description" placeholder="Description" required>
      <select id="category" required>
        <option value="">Select Category</option>
        <option value="food">Food</option>
        <option value="travel">Travel</option>
        <option value="entertainment">Entertainment</option>
        <option value="other">Other</option>
      </select>
      <button type="submit" id="submitbtn" value="Submit">Add Expense</button>
    </form>
  </section>

  <section class="expenses-list">
    <h2>All Expenses</h2>
    <ul id="expenseList"></ul>
    <div id="pagination"></div>
  </section>

  <section class="total-expense">
    <h3>Total Expense: <span id="totalAmount">0</span></h3>
  </section>

  <script src="js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="https://sdk.cashfree.com/js/v3/cashfree.js"></script>

  <script>
    const cashfree = Cashfree({
      mode: "sandbox"
    });
  </script>

</body>

</html>