<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Expense Tracker</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Sign Up</h1>
        <form id="signupForm" onsubmit="signup(event)">
            <input type="text" id="username" placeholder="UserName" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>
            <button type="submit">Submit</button>

            <p>Already have an account? <a href="signin.html">Sign In here</a></p>
        </form>
    </div>
    <script src="js/script.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</body>

</html>